*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100%;

}

#navbar{
  width: 100%;
  height: 200px;
  position: absolute;
  top: 0;
  display: flex;
}

#mobNavbar{
  display: none;
}

.logo{
  font-size: 30px;
  font-weight: 900;
  margin-left: 20;
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.links{
  list-style: none;  
  display: flex;
  align-items: center;
  height: 100%;
  
}
.navlinks{
  margin-left: 40px;
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.firstdiv{
  padding-top: 200px;
  min-height: 500px;
}

.homediv{
  background-color: rgb(243, 91, 91);
}
.aboutdiv{
  background-color: cyan;
}
.princingdiv{
  background-color: chartreuse;
}
.contactdiv{
  background-color: rgb(163, 158, 158);
}

.hamburgerbtn{
  display: none;
}

@media screen  and (max-width:641px) {
  .hamburgerbtn{
    display: block;
    position: absolute;
    right: 20px;
    top: 10px;
    height: 40px;
    width: 40px;
    z-index: 100;
  }
  .links{
    flex-direction: column;
    position: absolute;  
    top: -400px;  
    font-size: 30px;
    width: 100%;
    overflow: hidden;
    height: 400px;
    background-color: rgb(1, 36, 1);
    align-items: start;
    transition-delay: 0.5;
    transition: 1.5s cubic-bezier(.77,0,.175,1),visibility 1s,-webkit-transform 1s cubic-bezier(.77,0,.175,1);
    z-index: 100;
  }
  .navlinks{
    color: white;

  }
  .logo{
    margin-left: 0;
    color: white;
    z-index: 3;
  }
  #navbar{
    display: none;
  }
  #mobNavbar{
    display: none;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    height: 60px;
    justify-content: center;
    z-index: 10;
  }
  .firstdiv{
    padding-top: 80px;
  }
  .shownavdiv{
    transition: 0.75s ease-in-out;
    top: 0px;
    padding-top: 80px;
    border-bottom:10px solid green;

  }
}